
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>StyleMatch AI</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom_checkbox.css">
</head>
<body>
    <div class="header">
        <h1>STYLEMATCH AI</h1>
    </div>
    <div class="background"></div>
    <div class="container">
        <div class="search-section" id="searchSection">
            <div class="left">
                <div class="pilar grupo_produto">
                    <h4>Grupo</h4>
                    <div class="attribute" id="atributo_grupo">
                        <select name="grupo" id="grupo_selecionado" onchange="updateAtributos()">
                            <option value="blusa">blusa</option>
                            <option value="calca">calca</option>
                            <option value="vestido">vestido</option>
                            <option value="saia">saia</option>
                            <option value="short">short</option>
                        </select>
                    </div>
                </div>
                <div class="upload-image" id="imagePreview">
                    <div id="cropped_image"></div>
                    <div class="image-preview" id="imagePreviewContent">
                        <input type="file" id="imageInput" hidden onchange="uploadImage()">
                        <label for="imageInput" id="upload_image">
                            <div class="upload-image-icon"></div>
                            <div id="upload-image-text">
                                Upload Image
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="attributes_clothes" id="attributesClothes">
                    <div id="productAttributes" class="attributes">
                        <div class="pilar">
                            <h4>Cor</h4>
                            <div class="attribute" id="atributo_cor">
                                <div class="checkbox-wrapper-dramatico">
                                    <input type="checkbox" id="filtrar_por_cor" name="filtrar_por_cor" class="filtro_de_busca">
                                    <div class="riscar_no_check">
                                        <select name="cor" id="filtro_cor" class="filtro_de_busca">
                                            <option value="BRANCO">Branco</option>
                                            <option value="PRETO">Preto</option>
                                            <option value="BEGE">Bege</option>
                                            <option value="AZUL">Azul</option>
                                            <option value="VERDE">Verde</option>
                                            <option value="AMARELO">Amarelo</option>
                                            <option value="LARANJA">Laranja</option>
                                            <option value="VERMELHO">Vermelho</option>
                                            <option value="ROSA">Rosa</option>
                                            <option value="ROXO">Roxo</option>
                                            <option value="MARROM">Marrom</option>
                                            <option value="MULTICOLORIDO">Multicolorido</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilar" id="pilar_modelagem">
                            
                        </div>
                        <div class="pilar">
                            <h4>Estampa</h4>
                            <div class="attribute" id="atributo_estampa">
                                <div class="checkbox-wrapper-dramatico">
                                    <input type="checkbox" id="filtrar_por_estampa" name="filtrar_por_estampa" class="filtro_de_busca">
                                    <div class="riscar_no_check">
                                        <select name="estampa" id="filtro_estampa" class="filtro_de_busca">
                                            <option value="liso">Liso</option>
                                            <option value="floral">Floral</option>
                                            <option value="onca">Onça</option>
                                            <option value="poa">Poá</option>
                                            <option value="geometrico">Geométrico</option>
                                            <option value="cobra">Cobra</option>
                                            <option value="listra">Listra</option>
                                            <option value="abstrato">Abstrato</option>
                                            <option value="xadrez">Xadrez</option>
                                            <option value="leopardo">Leopardo</option>
                                            <option value="folhagem">Folhagem</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <button id="pesquisar_btn" onclick="search()" class="disabled">Pesquisar</button>
            </div>
            </div>
        </div>
    </div>
    <div class="container results-section hidden" id="results-section-container">
        <div id="resultsSection" class="results"></div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
